@font-face {
  font-family: 'raleway_thin-webfont';
  src: url("../font/raleway_thin-webfont.ttf"); }

@font-face {
  font-family: 'GenSekiGothic-M';
  src: url("../font/GenSekiGothic-M.ttc"); }

@media screen and (min-width: 614px) {
  h1 {
    font-size: 4.5rem;
    letter-spacing: 20px; }
  h2 {
    font-size: 3.5rem;
    letter-spacing: 20px; }
  h3 {
    font-size: 2.3rem;
    letter-spacing: 20px; }
  h4 {
    font-size: 1.8rem; }
  h5 {
    font-size: 1.6rem;
    line-height: 40px; }
  h6 {
    font-size: 1.3rem; } }

@media screen and (max-width: 613px) {
  h1 {
    font-size: 3.5rem;
    letter-spacing: 20px; }
  h2 {
    font-size: 2.5rem;
    letter-spacing: 2px; }
  h3 {
    font-size: 2rem; }
  h4 {
    font-size: 1.55rem; }
  h5 {
    font-size: 1.4rem;
    line-height: 40px; }
  h6 {
    font-size: 1rem; } }

* {
  position: relative;
  box-sizing: border-box;
  color: #123123;
  font-family: 'GenSekiGothic-M', 'raleway_thin-webfont';
  transition: 0.3s; }

body, html {
  margin: 0; }

body {
  scroll-behavior: smooth; }

a {
  cursor: pointer; }

a:link {
  text-decoration: none;
  color: #123123; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

.text-block {
  width: 100vw;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-direction: column; }
  .text-block h1 {
    margin-bottom: 50px; }
  .text-block h5 {
    font-family: 'GenSekiGothic-M';
    width: 60%;
    min-width: 300px;
    padding: 50px; }

#about {
  width: 100vw;
  min-height: 100vh;
  background-image: url("https://live.staticflickr.com/5768/20469912269_232120e82a_b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center; }
  #about .text-block {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    max-width: 1000px;
    min-width: 300px; }
    #about .text-block h5 {
      font-weight: 200;
      letter-spacing: 2px;
      background-color: rgba(255, 255, 255, 0);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: solid 5px white; }
